@import "tailwindcss";

@layer base {
  html {
     font-family: "Roboto", sans-serif;
  }
  
  body {
     font-family: "Roboto", sans-serif;
  }
}

/* Scrollbar hide utility */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
